;config for the reciever in use

;the ip address of your receiver, the default telnet port is 23
dsn = "ip_address:telnet_port"
;the return prompt for your receiver - in the VSX-930 this is a zero length string
prompt = ""
;the error prompt for your receiver - in the VSX-930 this is a zero length string
errorPrompt = ""
;the return line ending for your receiver - in the VSX-930 this is a <CR><LF> windows style line ending
lineEnding = "\r\n"
